:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.main {
  display: flex;
  column-gap: 50px;
}

.navbar-cntr {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  color: #242424;
  row-gap: 10px;
  padding: 50px;
}

.summary-cntr {
  display: flex;
  padding: 375px;
}

.home-cntr {
  display: flex;
  padding: 375px;
}

.create-cntr {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.navbar-bttns {
  padding: 10px;
  text-decoration: none;
  background-color: #242424;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  color: lightgrey;
}

.navbar-bttns:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.navbar-bttns:active {
  transform: scale(0.95);
}

.cm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.cm-form-bits {
  text-align: center;
  padding: 15px;
  border: solid 2px lightgrey;
  border-radius: 2px;
}

.cm-radios {
  padding: 15px;
  width: 150px;
  border: solid 2px lightgrey;
  border-radius: 2px;
}
